🔹
🔹

# 01. 파이썬 시작하기
print 함수와 관련된 문제를 풀어봅시다.
***
###001 print 기초
화면에 Hello World 문자열을 출력하세요.

In [ ]:
print('Hello World')

Hello World

### 002 print 기초
화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [ ]:
print('Mary\'s cosmetics')

Mary's cosmetics

### 003 print 기초
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)   
`신씨가 소리질렀다. "도둑이야".`

In [ ]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

### 004 print 기초
화면에 "C:\Windows"를 출력하세요.

In [ ]:
print('C:\Windows')

C:\Windows

### 005 print 탭과 줄바꿈
다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.   
`print("안녕하세요.\n만나서\t\t반갑습니다.")`

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

# \t 는 tab 1번의 역할로 \t\t는 tab 2번을 한 효과
# \n 은 줄바꿈

안녕하세요.
만나서		반갑습니다.

### 006 print 여러 데이터 출력
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.   
`print ("오늘은", "일요일")`

In [ ]:
# 오늘은 일요일
# 위와 같이 출력될 것이다.
print ("오늘은", "일요일")

오늘은 일요일

### 007 print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.   

`
naver;kakao;sk;samsung
`

In [ ]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [ ]:
# <정답>
# print 함수의 sep 인자로 ";"를 입력하면 출력되는 값들 사이에 한 칸의 공백대신 세미콜론이 출력됩니다.
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

- [파이썬(Python) 기초 print ( )문의 옵션 (sep , end , format , Escape )](https://infinitt.tistory.com/11)

### 008 print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

In [ ]:
print('naver', 'kakao', 'sk', 'samsung',sep='/')

naver/kakao/sk/samsung

### 009 print 줄바꿈
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.   
`print("first");print("second")`

In [ ]:
print("first");print("second")

first
second

In [ ]:
print("first", end=" ");print("second")

first second

### 010 연산 결과 출력
5/3의 결과를 화면에 출력하세요.

In [ ]:
a=5
b=3
print(a/b)

1.6666666666666667

# 02. 파이썬 변수
파이썬 변수는 자주 사용되는 값을 바인딩합니다. 파이썬 변수의 개념을 이해하고 문제를 풀어봅시다.
***
### 011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [ ]:
samsung = 50000
buy = 10

print('총 평가금액=', samsung*buy)

총 평가금액= 500000

### 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

|항목|값|
|---|---|
|시가총액|298조|
|현재가|50,000원|
|PER|15.79|

In [ ]:
시가총액 = '298조'
현재가 = '50000원'
PER = 15.79

print('시가총액 =',시가총액,',현재가 =', 현재가,',PER =', PER)

시가총액 = 298조 ,현재가 = 50000원 ,PER = 15.79

In [ ]:
# <정답>
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

### 013 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.


```
>> s = "hello"
>> t = "python"
```

두 변수를 이용하여 아래와 같이 출력해보세요.


```
실행 예:
hello! python
```

In [ ]:
s = "hello"
t = "python"

print(s, '!', t)

hello ! python

In [ ]:
# <정답>
s = "hello"
t = "python"
print(s+"!", t)

hello! python

### 014 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.


```
>> 2 + 2 * 3 
```

In [ ]:
# 곱하기 먼저 실행되어서 8이 나오지 않을까...?

2+2*3

8

### 015 type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.


```
>> a = 128
>> print (type(a))
<class 'int'>
```

아래 변수에 바인딩된 값의 타입을 판별해보세요.


```
>> a = "132"
```

In [ ]:
# "" 때문에 문자열로 인식되어 str로 판별 될 것 같다.

a = "132"
type(a)

str

### 016 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.


```
>> num_str = "720"
```

In [ ]:
num_str = "720"

a=int(num_str)
print(a, type(a))

720 <class 'int'>

- 긴가민가 했는데 맞았네ㅋㅋㅋ
- [Python에서 문자열을 정수로 변환](https://www.delftstack.com/ko/howto/python/convert-string-to-int-in-python/)

### 017 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.


```
num = 100
```

In [ ]:
num = 100
a=str(num)

print(a, type(a))

100 <class 'str'>

### 018 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [ ]:
a="15.79"
print(a, type(a))

b=float(a)
print(b, type(b))

15.79 <class 'str'>
15.79 <class 'float'>

### 019 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

```
year = "2020"
```

In [ ]:
year = "2020"
year_int=int(year)

print(year_int,year_int-1, year_int-2)

2020 2019 2018

### 020 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.   
총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [ ]:
mon = 48584
no = 36

print('총 금액=', mon*no)

총 금액= 1749024

# 03. 파이썬 문자열
파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공합니다.
***

### 021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

```
>> letters = 'python'
```

```
실행 예
p t
```

In [ ]:
letters = 'python'

print(letters[0], letters[2])

p t

### 022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.


```
>> license_plate = "24가 2210"
```

```
실행 예: 2210
```

In [ ]:
license_plate = "24가 2210"

print(license_plate[4:])

2210

### 023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.


```
>> string = "홀짝홀짝홀짝"
```

```
실행 예:
홀홀홀
```

In [ ]:
string = "홀짝홀짝홀짝"


print(string[0::2])

홀홀홀

### 024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.


```
>> string = "PYTHON"
```

```
실행 예:
NOHTYP
```

In [ ]:
string = "PYTHON"
reverse_string = ""

for c in string:
  reverse_string = c + reverse_string

print(reverse_string)

NOHTYP

In [ ]:
# <정답>
string = "PYTHON"
print(string[::-1])

NOHTYP

- for 문으로 만들고 싶었지만 하는 방법을 몰라서 찾아서 작성
- [파이썬 문자열 뒤집기, 거꾸로 출력 하기 3가지 방법](https://blockdmask.tistory.com/581)

### 025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.


```
>> phone_number = "010-1111-2222"
```


```
실행 예
010 1111 2222
```

In [ ]:
phone_number = "010-1111-2222"
phone_number.replace("-", " ")

'010 1111 2222'

In [ ]:
# strip을 사용했을 때 왜 제거가 안되는걸까?
phone_number = "010-1111-2222"
phone_number.strip("-")

'010-1111-2222'

- [문자열에서 특정(일부) 문자만 삭제하는 방법들](https://engineer-mole.tistory.com/238)

### 026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.


```
실행 예
01011112222
```

In [ ]:
phone_number.replace("-","")

'01011112222'

### ⭐027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.


```
>> url = "http://sharebook.kr"
```

```
실행 예:
kr
```

In [ ]:
# <정답>
# 문자열로 표현된 url에서 .을 기준으로 분리합니다. 분리된 url 중 마지막을 인덱싱하면 도메인만 출력할 수 있습니다.
url = "http://sharebook.kr"

url_split = url.split('.')
print(url_split[-1])

kr

### 028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.


```
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
```

In [ ]:
# 'python' 이라고 출력될 것 같다.
lang = 'python'
lang[0] = 'P'
print(lang)

# <정답>
# 문자열은 수정할 수 없습니다.
# 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다.

TypeError: ignored

### 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.


```
>> string = 'abcdfe2a354a32a'
```


```
실행 예:
Abcdfe2A354A32A
```

In [ ]:
string = 'abcdfe2a354a32a'
string.replace('a', 'A')

'Abcdfe2A354A32A'

### 030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.


```
>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)
```

In [ ]:
# aBcd 로 출력될 것 같다.
# 틀림. replace로 변경된 사항은 변수에 할당해주지 않았음
# 즉, 변경되지 않은 string이 그대로 출력
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [ ]:
# <정답>
# abcd가 그대로 출력됩니다.
# 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다.
# replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.

### 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.


```
>> a = "3"
>> b = "4"
>> print(a + b)
```

In [ ]:
# 오류가 날 것 같다.
# 왜냐하면 int면 +가 가능할 것 같은데 str 형식이어서 덧셈불가 또는
# 34  이렇게 나올 수도 있겠다

a = "3"
b = "4"
print(a + b)

# <정답>
# 두 문자열에 대해 덧셈 기호는 문자열의 연결을 의미합니다.
# 따라서 "34"라는 새로운 문자열이 생성되고 그 값이 print 함수에 의해 화면에 출력됩니다.

34

### 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.


```
>> print("Hi" * 3)
```

In [ ]:
# HiHiHi  이렇게 결과가 나올 것 같다.

print("Hi" * 3)

# <정답>
# 문자열에 대한 곱셈은 문자열의 반복을 의미합니다.
# 따라서 다음과 같이 문자열이 출력됩니다.

HiHiHi

### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.


```
실행 예:
--------------------------------------------------------------------------------
```

In [ ]:
print("-"*80)

--------------------------------------------------------------------------------

### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.


```
>>> t1 = 'python'
>>> t2 = 'java'
```
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:


```
실행 예:
python java python java python java python java
```

In [ ]:
t1 = 'python'
t2 = 'java'

print((t1+t2)*4, sep=" ")

pythonjavapythonjavapythonjavapythonjava

In [ ]:
# <정답>
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.



```
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
```


```
이름: 김민수 나이: 10
이름: 이철희 나이: 13
```

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름 : %s 나이 : %d' % (name1, age1))
print('이름 : %s 나이 : %d' % (name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

- [String Formatting의 다양한 방법 정리(%, Str formatting, f-stirng)](https://codechacha.com/ko/python-string-formatting/)
- print 포맷팅에서 %s는 문자열 데이터 타입의 값을 %d는 정수형 데이터 타입 값의 출력을 의미

### 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
a = '이름 : {0} 나이 : {1}'.format(name1, age1)
print(a)
b = '이름 : {0} 나이 : {1}'.format(name2, age2)
print(b)

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

- [파이썬 format 함수 (문자열 포매팅 방법 1)](https://blockdmask.tistory.com/424)

### 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
print(f'이름 : {name1} 나이 : {age1}')
print(f'이름 : {name2} 나이 : {age2}')

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

- [파이썬 f-string (문자열 포매팅 방법 3)](https://blockdmask.tistory.com/429)

### 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.


```
상장주식수 = "5,969,782,550"
```

In [ ]:
상장주식수 = "5,969,782,550"
samsung_a = 상장주식수.replace(",","")
samsung = int(samsung_a)

print(samsung, type(samsung))

5969782550 <class 'int'>

### 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.


```
분기 = "2020/03(E) (IFRS연결)"
```

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

### 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.


```
data = "   삼성전자    "
```

In [ ]:
data = "   삼성전자    "

a = data.strip()
a

# <정답>
# 문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거할 수 있습니다.
# 이때 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환됩니다.

'삼성전자'

### 041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.


```
ticker = "btc_krw"
```

In [ ]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

### 042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.


```
ticker = "BTC_KRW"
```

In [98]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

### 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [99]:
a = 'hello'
a.capitalize()

'Hello'

### 044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.


```
file_name = "보고서.xlsx"
```

In [103]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

- [파이썬 특정문자 찾기(find,startswith,endswith)](https://dpdpwl.tistory.com/119)

### 045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.


```
file_name = "보고서.xlsx"
```

In [106]:
file_name.endswith(('xlsx','xls'))

True

### 046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.


```
file_name = "2020_보고서.xlsx"
```

In [108]:
file_name = "2020_보고서.xlsx"

file_name.startswith('2020')

True

### 047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.


```
a = "hello world"
```

In [109]:
a = "hello world"
a.split()

['hello', 'world']

### 048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.


```
ticker = "btc_krw"
```

In [110]:
ticker = "btc_krw"

ticker.split('_')

['btc', 'krw']

### 049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.


```
date = "2020-05-01"
```

In [112]:
date = "2020-05-01"
a, b, c=date.split('-')

print(f'연도 : {a}, 월 : {b}, 일 : {c}')

연도 : 2020, 월 : 05, 일 : 01

In [113]:
# <정답>
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

### 050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.


```
data = "039490     "
```

In [114]:
data = "039490     "
data.rstrip()

# <정답>
# rstrip() 메서드를 사용하면 오른쪽 공백이 제거된 새로운 문자열 객체가 반환됩니다.
# 그 값을 data라는 변수가 새로 바인딩합니다.
# 기존의 공백이 포함된 문자열은 메모리에서 자동으로 삭제됩니다.

'039490'